<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="@(Model.Locale?.Code)" xml:lang="@(Model.Locale?.Code)">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
  <p><strong>@(Model.Resource("Hello").Replace("{name}", Model.User?.FullName))</strong></p>
  <p>@(Model.Resource("MultiFactorAuthenticationEmail_Content"))</p>
  <p><strong>@(Model.Variable("OneTimePassword"))</strong></p>
  <p>
    @(Model.Resource("Cordially"))
    <br />
    <i>@(Model.Resource("Team"))</i>
  </p>
</body>
</html>