<!DOCTYPE html>
<html lang="@Thread.CurrentThread.CurrentUICulture.Name">
<head>
  <title>@ViewBag.Title &mdash; Portal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="~/dist/app.css">
  <link rel="stylesheet" href="~/dist/chunk-vendors.css">
  <style>
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 76px;
    }

    a.disabled,
    button:disabled {
        cursor: not-allowed;
        pointer-events: all !important;
    }
  </style>
</head>
<body>
  <div id="app">
    <navbar user="@(ModelSerializer.Serialize(Context.GetCurrentUser()))"></navbar>
    @RenderBody()
    <app-footer version="v@(Constants.Version)"></app-footer>
  </div>
  <script src="~/dist/app.js"></script>
  <script src="~/dist/chunk-vendors.js"></script>
</body>
</html>
